In [1]:
   print('Olá Mundo');

Olá Mundo

In [2]:
print(10)

10

In [3]:
print('João')
print('Eduardo')
print(28, 'anos de idade')

João
Eduardo
28 anos de idade

In [4]:
print('Escola de dados da Alura')

Escola de dados da Alura

In [5]:
print('J')
print('O')
print('Ã')
print('O')

J
O
Ã
O

In [6]:
print(2,'Abril',2025)

2 Abril 2025

In [7]:
print('Ano atual:', 2025)

Ano atual: 2025

In [8]:
aluno = 5
print('Idade = ', aluno)

Idade =  5

In [9]:
nome = 'João'
print(nome)

João

| CLASSE	| DESCRIÇÃO|	EXEMPLO |
|--- |--- |--- |
| int	| Armazena números inteiros, | 3, 100 ou -5|
|float |	 Armazena números com ponto flutuante, ou seja, números que possuem uma parte fracionária ou reais	| 3.14, 100.0 ou -0.5|
| str | Armazena strings, ou seja, um texto ou sequências de caracteres. As strings são geralmente usadas para armazenar texto e delimitadas por aspas simples ou duplas	| "Olá!", 'Alura' ou "1234"|
|bool	| Armazena valores lógicos verdadeiro ou falso	|True e False|

|

In [10]:
i = 5
type(i)

int

In [11]:
f = 9.8
type(f)

float

In [12]:
s = 'João'
type(s)

str

In [13]:
b = True
type(b)

bool

Exemplo

In [14]:
nome_aluno = 'João Eduardo'
idade_aluno = 15
media_aluno = 8.5
situacao_aprovado = True
print('Nome:', nome_aluno, ', Idade:', idade_aluno, ', Media:', media_aluno, ', Situação:', situacao_aprovado)

Nome: João Eduardo , Idade: 15 , Media: 8.5 , Situação: True

Quando falamos sobre variáveis numéricas em Python, podemos limitar nossa análise aos tipos inteiro e float. Podemos manipulá-las para realizar cálculos aritméticos. A partir disso, temos uma situação – problema a resolver na nossa instituição de ensino.

Recebemos uma tabela com informações de empregos quanto ao cargo, quantidade de pessoas empregadas e o salário correspondente.

|Cargo|	Quantidade|	Salário|
|---|---|---|
|Segurança|	5|	3000|
|Docente|	16|	6000|
|Diretoria|	1	|12500|

Cinco pessoas trabalham como seguranças e recebem um salário de 3 mil reais. Dezesseis pessoas trabalham como docentes e recebem um salário de 6 mil reais. Por fim, temos uma pessoa que trabalha na diretoria e seu salário é de 12 mil e 500 reais.

Precisamos trabalhar com esses dados fornecendo:

- A quantidade total de empregados;
- A diferença entre o salário mais baixo e mais alto;
- A média ponderada da faixa salarial da escola.

In [15]:
q_seguranca = 5
s_seguranca = 3000

q_decente = 16
s_docente = 6000

q_diretoria = 1
s_diretoria = 12500

A quantidade total de empregados

In [16]:
total_empregado = q_seguranca + q_decente + q_diretoria
total_empregado

22

A diferença entre o salário mais baixo e mais alto

In [17]:
diferenca_salarial = s_diretoria - s_seguranca
diferenca_salarial

9500

A média ponderada da faixa salarial da escola

In [18]:
media_ponderada = (q_seguranca * s_seguranca + q_decente * s_docente + q_diretoria * s_diretoria) / (total_empregado)
media_ponderada

5613.636363636364

# Strings

No notebook, seção Strings, acessaremos a primeira célula, onde criaremos duas strings: a primeira, com aspas simples e a segunda com aspas duplas. Isso porque já sabemos que strings podem ser criadas tanto com aspas simples, quanto com aspas duplas.

In [19]:
s1 = 'Alura1'
s2 = "Alura21"
print(type(s1), type(s2))

<class 'str'> <class 'str'>

Situação: Recebemos uma variável com o nome de uma professora da escola para inserirmos no cadastro. No entanto, precisamos tratar esse texto antes de inserirmos no sistema.

In [20]:
nome_professora =    '      Geovana Alessandra dias   '

O primeiro deles é o str.upper(), método que converte a string e retorna um texto com todos os caracteres em letras maiúsculas. Colocamos o nome da nossa variável, texto, ponto, e escreveremos o método upper().

In [21]:
str.upper(nome_professora)

'      GEOVANA ALESSANDRA DIAS   '

Ao rodarmos o código, receberemos o mesmo texto, escrito em letras maiúsculas. Se existe um método que converte todas as letras em maiúsculas, também existe um que retorne todas as letras em minúsculas, esse método é o str.lower(). O procedimento é o mesmo: string, seguida de ponto e método lower().

In [22]:
str.lower(nome_professora)

'      geovana alessandra dias   '

O retorno é o texto todo em letras minúsculas. Precisamos remover os espaços em branco antes e depois do texto. Para isso, usaremos o método str.strip().

In [23]:
str.strip(nome_professora)

'Geovana Alessandra dias'

Então, escreveremos texto.replace(). Nos parênteses, começaremos passando o elemento antigo, isto é, que será substituído. Neste caso, é o "y" de "Sanyos". Para isso, abriremos aspas simples ou duplas e colocaremos 'y'.

Fora das aspas, adicionaremos vírgula e passaremos o segundo parâmetro: o elemento novo que substituirá o antigo. Então, entre aspas, escreveremos 't'. Desta maneira, o que era "Sanyos" será "Santos".

In [24]:
nome_professora.replace('y', 't')

'      Geovana Alessandra dias   '

In [25]:
nome_professora = nome_professora.strip().replace('y', 't').upper()
nome_professora

'GEOVANA ALESSANDRA DIAS'

# Coletar e manipular os dados

In [ ]:
nome = input('Degite seu nome: ')

In [ ]:
ano_entrada = int(input('Escreva o ano de ingresso do(a) estudante: '))

In [ ]:
type(ano_entrada)

In [ ]:
nota_entrada = float(input('Digite a nota do teste de ingresso: '))
print(f'Ano de entrada {ano_entrada} - nota do teste do ingresso {nota_entrada}')

In [ ]:
type(ano_entrada)

# Operador de formatação

|Tipo de variável|	Palavra-chave|
|---|---|
|string|	%s|
|inteiro|	%d|
|float|	%f|
|caractere|	%c|

In [ ]:
nome_A = "João Eduardo"
idade_aluno = 15
media_alumo = 8.45
print('Nome do aluno é %s, ele tem %d anos e sua media é %.2f'%(nome_A, idade_aluno, media_alumo))

In [ ]:
nome_B = 'João Eduardo'
idade_alunoB = 15
media_alunoB = 8.75
print('Nome do aluno é {}, ele tem {} anos e sua media é {}.'.format(nome_B, idade_alunoB, media_alunoB))

# Caracteres especiais

\n é o caractere de nova linha e é usado para pular uma linha no texto (função do Enter). Exemplo:

\t é o caractere de tabulação usado para adicionar um espaço de tabulação no texto. Exemplo:

\\ é usado para imprimir uma única barra invertida. Caso não seja usada a dupla barra invertida, o código poderá resultar em erro ou em um resultado inesperado, pois o Python considera a \ um chamado para um caractere especial. Usamos esta sintaxe para garantir que não ocorram erros. Exemplo:

\" é usado para imprimir aspas duplas quando estamos trabalhando com uma string criada a partir de aspas duplas ". Porém, isso não é necessário caso seja uma string criada por aspas simples '. Como exemplo, temos:

\' é usado para imprimir aspas simples quando estamos trabalhando com uma string criada a partir de aspas simples '. Caso seja uma string criada por aspas duplas ", isso não é necessário. Exemplo:

In [ ]:
print("Estudar é um esforço constante,\nÉ como cultivar uma planta,\nPrecisamos de dedicação e paciência,\nPara ver o fruto amadurecer.")

print('Quantidade\tQualidade\n5 amostras\tAlta\n3 amostras\tBaixa')

print("Caminho do arquivo: C:\\arquivos\\documento.csv")

print("Ouvi uma vez \"Os frutos do conhecimento são os mais doces e duradouros de todos.\"")

print('Minha professora uma vez disse \'Estudar é a chave do sucesso.\' ')

# Desafio: hora da prática - Coleta e amostragem de dados

In [ ]:
# 1 Crie um programa que solicite à pessoa usuária digitar seu nome, e imprima “Olá, [nome]!”.
informe_seu_nome = input('Digite sua nome')
print('Olá', informe_seu_nome)

In [ ]:
# 2 Crie um programa que solicite à pessoa usuária digitar seu nome e idade, e imprima “Olá,

informe_seu_nome2 = input('Digite seu nome')
infrome_sua_idade = input('Digite sua idade')
print('Olá {}, você tem {} anos.' .format(informe_seu_nome, infrome_sua_idade))

In [ ]:
# 3 Crie um programa que solicite à pessoa usuária digitar seu nome, idade e altura em metros, e imprima “Olá, [nome], você tem [idade] anos e mede [altura] metros!”.


informe_seu_nome3 = input('Digite seu nome.')
infrome_sua_idade2 = int(input('Digite sua idade.'))
informe_sua_altura = float(input('Digite sua altura.'))
print('“Olá, {}, você tem {} anos e mede {} metros!”.' .format(informe_seu_nome3, infrome_sua_idade2, informe_sua_altura))
print('“Olá, %s, você tem %d, anos e mede %.2f metros!”.' %(informe_seu_nome3, infrome_sua_idade2, informe_sua_altura))

# Desafio: hora da prática - Calculadora com operadores

# Nova seção

In [ ]:
# 1 Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a soma dos dois valores.

numero1 = input('Digite primeiro numero: ')
numero2 = input('Digite segundo numero: ')
print('A soma dos dois numeros é:', int(numero1) + int(numero2))

In [ ]:
# 2 Crie um programa que solicite três valores numéricos à pessoa usuária e imprima a soma dos três valores.

numero3 = input('Digite primeiro numero: ')
numero4 = input('Digite segundo numero: ')
numero5 = input('Digite terceiro numero: ')
print('A soma dos dois numeros é:', int(numero3) + int(numero4) + int(numero5))

In [ ]:
# 3 Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a subtração do primeiro pelo o segundo valor.
numero6 = input('Digite primeiro numero: ')
numero7 = input('Digite segundo numero: ')
print('A subtração dos dois numero é: ', int(numero6) - int(numero7))

In [ ]:
# 4 Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a multiplicação dos dois valores.
numero8 = input('Digite primeiro numero: ')
numero9 = input('Digite segundo numero: ')
print('A multiplicação dos dois numero é: ', int(numero6) * int(numero7))

In [ ]:
# 6 Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e realize a divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser 0
numero10 = input('Digite primeiro número, exceto 0: ')
numero11 = input('Digite segundo número, exceto 0: ')
print('Valor da divisão é: ', int(numero10) / int(numero11))

In [ ]:
# 6 Crie um programa que solicite dois valores numéricos, um operador e uma potência, e realize a exponenciação entre esses dois valores.

numero12 = input('Digite número do operador')
numero13 = input('Digite o número da potência')
print('Valor da exponenciação entre os dois número é:', int(numero12) ** int(numero13))

In [ ]:
# 7 Crie um programa que solicite dois valores numéricos, um numerador e um denominador e realize a divisão inteira entre os
# dois valores. Deixe claro que o valor do denominador não pode ser 0.

numero14 = input('Digite valor do numerador: ')
numero15 = input('Digite valor do denominador, exceto 0')
print('Resultado da divisão é: ', int(numero14) // int(numero15))

In [ ]:
# 8 Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e retorne o resto da divisão entre os dois valores.
#Deixe claro que o valor do denominador não pode ser 0

numero16 = input('Digite o valor do numerador: ')
numero17 = input('Difigte o valor do denominador, exceto 0: ')
print('O resto da divisão é', int(numero16) % int(numero17))

In [ ]:
# 9 Crie um código que solicita 3 notas de um estudante e imprima a média das notas.
numero18 = input('nota 1: ')
numero19 = input('nota 2: ')
numero20 = input('nota 3: ')
print('Media é:', (int(numero18) + int(numero19) + int(numero20)) / 3 )

In [ ]:
# 10 Crie um código que calcule e imprima a média ponderada dos números 5, 12, 20 e 15 com pesos respectivamente iguais a 1, 2, 3 e 4.
# Cálculo da média ponderada

media=media_ponderada = (5 * 1 + 12 * 2 + 20 * 3 + 15 * 4) / (1+2+3+4)
print(f'Media {media_ponderada}.')

# Desafio: hora da prática - Editando textos

In [ ]:
# 1 Crie uma variável chamada “frase” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase na tela.
string = 'frase'
print(string)

In [ ]:
# 2 Crie um código que solicite uma frase e depois imprima a frase na tela.

frase = input("Digite uma frase. ")
print(frase)

In [ ]:
# 3 Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras maiúsculas.

frase = input("Digite uma frase. ")
print (frase.upper())

In [ ]:
# 4 Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras minúsculas.

frase = input("Digite uma frase. ")
print (frase.lower())

In [ ]:
# 5 Crie uma variável chamada “frase” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase sem espaços em branco no início e no fim.

texto = '  frase'
print(texto.strip())

In [ ]:
# 6 Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim.

texto1 = input('Digite uma frase')
print(texto1.strip())

In [ ]:
# 7 Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim e em letras minúsculas.

texto1 = input('Digite uma frase')
print(texto1.strip().lower())

In [ ]:
# 8 Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “e” trocadas pela letra “f”.

texto1 = input('Digite uma frase')
print(texto1.replace('e', 'f'))

In [ ]:
# 9 Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “a” trocadas pela caractere “@”.
texto1 = input('Digite uma frase')
print(texto1.replace('a', '@'))

In [ ]:
# 10 Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as consoantes “s” trocadas pelo caractere “$”.
texto1 = input('Digite uma frase')
print(texto1.replace('s', '$'))

# Utilizando if e else

Situação: Receberemos a média de estudantes e precisamos de um algoritmo que execute a análise e decida se esse estudante está Aprovado ou Reprovado, mostrando uma mensagem do resultado. Para ser aprovado, a média precisa ser igual ou superior à 6.0.

In [ ]:
media = float(input('Digite a média: '))

if media >= 7:
    print('Aprovado(a)')
else:
    print('Reprovado(a)')

Neste caso, temos as condições:

Se a média for igual ou superior a 6, a pessoa está aprovada.

Se a média estiver entre 4 e 6, a pessoa está de recuperação.

Se a média for inferior a 4, a pessoa está reprovada.

In [ ]:
media = float(input('Digite a média: '))

if media >= 6.0:
  print('Aprovado(a)')
if 6.0 > media >= 4.0:
  print('recuperação(a)')
if media < 4.0:
   print('Reprovado(a)')

# Outras alternativas com elif

Essa estrutura será executada se a condição superior a ela for falsa. O código de execução será executado se a condição inserida nela for verdadeira. Vamos analisar a sintaxe do elif:

if condição1:
    # faça algo
elif condição2:
    # faça outra coisa
elif condição3:
    # faça mais alguma coisa
else:
    # faça algo diferente

In [ ]:
media = float(input('Digite a média: '))

if media >= 6.0:
  print('Aprovado(a)')
elif 6.0 > media >= 4.0:
  print('recuperação(a)')
else
   print('Reprovado(a)')

# Operadores lógicos

In [ ]:
t1 = t2 = True
f1 = f2 = False

In [ ]:
if t1 and f2:
  print('expressão verdadeira')
else:
  print('expressão falsa')

In [ ]:
if t1 or f2:
  print('expressão verdadeira')
else:
  print('expressão falsa')

In [ ]:
if not t1:
  print('expressão verdadeira')
else:
  print('expressão falsa')

# Situação:
A escola nos passou uma lista com nomes de estudantes aprovados por média no semestre. Precisamos verificar se alguns nomes estão nessa lista, pois, aparentemente, alguns nomes que deveriam estar nela, não estão. Sendo assim, vamos confirmar se os dados estão corretos.

In [ ]:
lista = 'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues, Juliana Santos, Bruno Gomes, Beatriz Costa, Felipe Almeida, Mariana Fernandes, João Pinto, Luísa Nascimento, Gabriel Souza, Manuela Santos, Thiago Oliveira, Sofia Ferreira, Rafael Albuquerque, Isabella Gomes, Bruno Costa, Maria Martins, Rafaela Souza, Matheus Fernandes, Luísa Almeida, Beatriz Pinto, Mariana Rodrigues, Gabriel Nascimento, João Ferreira, Maria Albuquerque, Felipe Oliveira'

In [ ]:
nome_1 = 'Mariana Rodrigues'
nome_2 = 'Marcelo Nogueira'

In [ ]:
if nome_1 in lista:
  print(f'{nome_1} está na lista')
else:
  print(f'{nome_1} não está na lista')

# Desafio: hora da prática

In [ ]:
# 1) Escreva um programa que peça à pessoa usuária para fornecer dois números e exibir o número maior.

numero1 = float(input('Digite o 1º número: '))
numero2 = float(input('Digite o 2º número: '))

if numero1 > numero2:
    print(' 1º maior que número 2º')
elif numero1 < numero2:
    print(' 2º maior que número 1º')
else:
      print('1º e 2º são')

In [ ]:
# 2) Escreva um programa que solicite o percentual de crescimento de produção de uma empresa e informe se houve um
# crescimento (porcentagem positiva) ou decrescimento (porcentagem negativa).

variacao = float(input('Digite o percentual de crescimento: '))

if variacao > 0:
  print(f'Percentual de crescimento é {variacao}% ')
elif variacao < 0:
  print(f'Percentual de crescimento é {variacao}% ')
else:
  print(f'Não ouve crecimento percentual é igual a {variacao}%')

In [ ]:
# 3) Escreva um programa que determine se uma letra fornecida pela pessoa usuária é uma vogal ou consoante.

lista = 'a','e','i','o','u'

letra = input('Digite um volgal ou consoante')

if letra in lista:
  print('Vogal')
else:
  print('Consotante')

In [ ]:
# 4) Escreva um programa que leia valores médios de preços de um modelo de carro por 3 anos consecutivos e exiba o valor mais alto e mais baixo entre esses três anos.

ano1 = float(input('Dgite o valor medio do primeiro ano: '))
ano2 = float(input('Dgite o valor medio do segundo ano: '))
ano3 = float(input('Dgite o valor medio do terceiro ano: '))

maior = ano1

if ano2 > maior:
 maior = ano2
if ano3 > maior:
 maior = ano3

menor = ano1

if ano2 < menor:
 menor = ano2
if ano3 < menor:
 menor = ano3

print(f'Maior preço é {maior}')
print(f'menor preço é {menor}')

In [ ]:
# 5) Escreva um programa que pergunte sobre o preço de três produtos e indique qual é o produto mais barato para comprar.


prod1 = float(input('Dgite o valor do primeiro produto: '))
prod2 = float(input('Dgite o valor do segundo produto: '))
prod3 = float(input('Dgite o valor do terceiro produto '))

if prod1 < prod2 and prod1 < prod3:
 print('O primeiro produto é o mais barato.')

elif prod2 < prod1 and prod2 < prod3:
 print('O segundo produto é o mais barato.')

elif prod3 < prod1 and prod3 < prod2:
 print('O terceiro produto é o mais barato.')
elif prod1 == prod2 == prod3:
 print('Os produtos possuem o mesmo preço.')
else:
   if prod1 == prod2:
     print('O primeiro e o segundo produtos são os mais baratos.')
   elif prod2 == prod3:
     print('O segundo e terceiro produtos são os mais baratos.')
   elif prod1 == prod3:
     print('O primeiro e o terceiro produtos são os mais baratos.')

In [ ]:
# 6) Escreva um programa que leia três números e os exiba em ordem decrescente.

num1 = float(input('Dgite o valor do primeiro produto: '))
num2 = float(input('Dgite o valor do segundo produto: '))
num3 = float(input('Dgite o valor do terceiro produto '))


if (num1 >= num2) and (num1 >= num3):
    print(num1)
    if num2 >= num3:
        print(num2)
        print(num3)
    else:
        print(num3)
        print(num2)
elif (num2 >= num1) and (num2 >= num3):
    print(num2)
    if num1 >= num3:
        print(num1)
        print(num3)
    else:
        print(num3)
        print(num1)
else:
    print(num3)
    if num1 >= num3:
        print(num1)
        print(num2)
    else:
        print(num2)
        print(num1)

In [ ]:
# 7) Escreva um programa que pergunte em qual turno a pessoa usuária estuda ("manhã", "tarde" ou "noite")
# e exiba a mensagem "Bom Dia!", "Boa Tarde!", "Boa Noite!", ou "Valor Inválido!", conforme o caso.

turno = input(print('Qual turno você trabalha ("manhã", "tarde" ou "noite")'))

if turno == 'manhã':
  print('Bom Dia!')
elif turno == 'tarde':
  print('Boa Tarde!')
elif turno == 'noite':
  print('Boa Noite!')
else:
  print('Valor Inválido!')

In [ ]:
# 8) Escreva um programa que peça um número inteiro à pessoa usuária e determine se ele é par ou ímpar. Dica: Você pode utilizar o operador módulo %.

num = int(input('Digite um número: '))

if num % 2 == 0:
    print('Par')
else:
    print('Impar')

In [ ]:
# 9 - Podemos usar o operador de módulo % para determinar se um número é inteiro ou decimal. Se o operador de módulo %
# retornar zero da divisão inteira de um número por 1, então ele é inteiro. Se não for, ele é decimal.

num = float(input('Digite um número: '))

if num % 1 == 0:
    print('inteiro')
else:
    print('decimal')

In [ ]:
# 10) Um programa deve ser escrito para ler dois números e, em seguida, perguntar à pessoa usuária qual operação
# ele deseja realizar. O resultado da operação deve incluir informações sobre o número - se é par ou ímpar, positivo ou negativo e inteiro ou decimal.

nun1 = float(input('Digite o primeiro número: '))
num2 = float(input('Digite o segundo número: '))
operacao = input('Digite a operçãa a ser realizada (+, -, *, /): ')

if operacao == '+':
  resultado = num1 + num2
elif operacao == '-':
  resultado = num1 - num2
elif operacao == '*':
  resultado = num1 * num2
elif operacao == '/':
  resultado = num / num2
else:
  print('Operação invalida,')
  resultado = 0

print(f'Resultado é {resultado}')

if resultado % 2 == 0:
  print('Número par')
else:
  print('Número impar')

if resultado > 0:
  print('Número positivo')
else:
  print('Número negativo')

if resultado % 1 == 0:
  print('Número inteiro')
else:
  print('Número decimal')

In [ ]:
# 11) Escreva um programa que peça à pessoa usuária três números que representam os
# lados de um triângulo. O programa deve informar se os valores podem ser utilizados
# para formar um triângulo e, caso afirmativo, se ele é equilátero, isósceles ou escaleno. Tenha em mente algumas dicas:

#Três lados formam um triângulo quando a soma de quaisquer dois lados for maior que o terceiro;
#Triângulo Equilátero: três lados iguais;
#Triângulo Isósceles: quaisquer dois lados iguais;
#Triângulo Escaleno: três lados diferentes.

lad1 = float(input('Digite o primeiro número: '))
lad2 = float(input('Digite o segundo número: '))
lad3 = float(input('Digite o terceiro número: '))

if (lad1 + lad2 > lad3) and ( lad2 + lad3 > lad1) and (lad1 + lad3 > lad2):
  print('triângulo')
  if(lad1 == lad2) and (lad2 == lad3):
   print('Equilátero')
  elif (lad1 != lad2 ) and (lad2 != lad3) and (lad1 != lad3):
   print('Isósceles')
  else:
   print('Escaleno')

else:
  print('Ivalido')

In [ ]:
# 12) Um estabelecimento está vendendo combustíveis com descontos variados. Para o etanol, se a quantidade
# comprada for até 15 litros, o desconto será de 2% por litro. Caso contrário, será de 4% por litro. Para o
#diesel, se a quantidade comprada for até 15 litros, o desconto será de 3% por litro. Caso contrário, será
#de 5% por litro. O preço do litro de diesel é R$ 2,00 e o preço do litro de etanol é R$ 1,70. Escreva um
#programa que leia a quantidade de litros vendidos e o tipo de combustível (E para etanol e D para diesel)
#e calcule o valor a ser pago pelo cliente. Tenha em mente algumas dicas:

# O do valor do desconto será a multiplicação entre preço do litro, quantidade de litros e o valor do desconto.
# O valor a ser pago por um cliente será o resultado da multiplicação do preço do litro pela quantidade de litros menos o valor de desconto resultante do cálculo.




combustivel = input('Selecione o combustível desejado: Etanol = E, Disel = D: ')
quatidade = float(input('Digite a quantidade desejada: '))

if combustivel == 'D':
  preco_disel = 2.00

  if quatidade >= 15:

# O que são estruturas de repetição?

In [ ]:
contador = 1
while contador <= 10:
  print(contador)
  contador = contador+1

Vamos executar a célula. Entramos na primeira linha do bloco while, pedindo a primeira nota do primeiro aluno. Vamos colocar 5 para a primeira nota, apertar "Enter" e colocar 6 como a segunda nota do mesmo aluno.

In [ ]:
contador = 1
while contador <= 3:
  nota_1 = float(input('Digite a 1° nota: '))
  nota_2 = float(input('Digite a 2° nota: '))

  print(f'Média: {(nota_1+nota_2)/2}')
  contador += 1

Para saber mais: operadores de atribuição

Operador	Descrição	Exemplo

-=	Subtrai um valor na variável	preco-=5

*=	Multiplica um valor pela variável	preco*=3

/=	Divide a variável por um valor	preco/=2

//=	Realiza divisão inteira da variável por um valor	preco//=6

%=	Calcula o resto da divisão do valor na variável e atribui o resultado à variável	preco%=5

# Laço for

Função range()
Para fazer um exemplo for for com um contador, precisamos de um conjunto de elementos que podem ser criados pela função range().

A função range() é responsável por criar uma sequência de números inteiros por meio da especificação do início e o fim da sequência. Também podemos identificar o passo dessa sequência, por exemplo, de dois em dois números.

Sua aplicação é útil para a criação de contadores e delimitadores numéricos, como fizemos com o laço while.

A sintaxe de criação dessa função é:

# range(inicio, fim, passo)

In [ ]:
for contador in range(1,4):
  nota_1 = float(input('Digite a 1° nota: '))
  nota_2 = float(input('Digite a 2° nota: '))

  print(f'Média: {(nota_1+nota_2)/2}')

# Desafio: hora da prática

In [ ]:
# 1 - Escreva um programa que peça dois números inteiros e imprima todos os números inteiros entre eles.

num1 = int(input('Digite o primeiro número: '))
num2 = int(input('Digite o segundo número: '))

maior = num1

if num2 > maior:
  maior = num2

menor = num1

if num2 < menor:
  menor = num2

for contador in range(menor + 1, maior):
  print(contador)

In [ ]:
# 1 - 2) Escreva um programa para calcular quantos dias levará para a colônia de
# uma bactéria A ultrapassar ou igualar a colônia de uma bactéria B, com base nas
# taxas de crescimento de 3% e 1,5% respectivamente. Considere que a colônia A
# inicia com 4 elementos e a B com 10.

colonia_A = 4
colonia_B = 10

taxa_A = 0.03
taxa_B = 0.015

dias = 0

while colonia_A <= colonia_B:
  colonia_A *= taxa_A
  colonia_B *= taxa_B
  dias += 1

print(f'Colônia A levará {dias} dias para ultrapassar colônia B')

In [ ]:
# 3 - Para tratar uma quantidade de 15 dados de avaliações de pessoas usuárias de
# um serviço da empresa, precisamos verificar se as notas são válidas. Então,
# escreva um programa que vai receber a nota de 0 a 5 de todos os dados e verificar
# se é um valor válido. Caso seja inserido uma nota acima de 5 ou abaixo de 0,
# repita até que a pessoa usuária insira um valor válido.

for i in range(15):
  notas = float(input(f'Para avaliação digite uma nota de 0 a 5, usuário {i}: '))

  while (notas < 0) or (notas > 5):
   notas = float(input('Nota invalida, digite novamnete'))

print('Todas interações foram validas')

In [ ]:
# 4 Desenvolva um programa que leia um conjunto indeterminado de temperaturas em
# Celsius e informe a média delas. A leitura deve ser encerrada ao ser enviado o valor -273°C.

temperatura = float(input('Digite o valaor da temperatura'))

contador = 0
soma = 0

while temperatura != -273:

  soma += temperatura

  contador += 1

  temperatura = float(input('Digite o valaor da temperatura'))

media = soma / contador

print(f'Valar da media é : {media}')

In [ ]:
# 5 - Escreva um programa que calcule o fatorial de um número inteiro fornecido pela
# pessoa usuária. Lembrando que o fatorial de um número inteiro é a multiplicação
# desse número por todos os seus antecessores até o número 1. Por exemplo, o
# fatorial de 5 é 5 x 4 x 3 x 2 x 1 = 120.

numero = int(input('Digite o inteiro número á ser fatorado'))

fatorial = 1

i = numero

while i > 0:

  fatorial *= i
  i -= 1

print(f'Fatorial de {numero} é {fatorial}')

In [ ]:
#  6 -  Escreva um programa que gere a tabuada de um número inteiro de 1 a 10, de
#  acordo com a escolha da pessoa usuária. Como exemplo, para o número 2, a
#  tabuada deve ser mostrada no seguinte formato:

numero = int(input('Digite o valor da tabuada de 0 a 10: '))

contador = 1
while contador <= numero:
  multiplicacao = numero * contador
  print(f'{numero} X {contador} = {multiplicacao}')
  contador += 1

In [ ]:
# 7 Os números primos possuem várias aplicações dentro da Ciência de Dados em criptografia
# e segurança, por exemplo. Um número primo é aquele que é divisível apenas por um e por
# ele mesmo. Assim, faça um programa que peça um número inteiro e determine se ele é ou não um número primo.

numero = int(input('Digite um número: '))

inicio = 1
divisores = 0

while inicio <= numero:
 if numero % inicio == 0:
   divisores += 1
 inicio += 1

if divisores > 2:
  print('Não é primo')
else:
  print('É primo')

In [ ]:
#  8 -  Vamos entender a distribuição de idades de pensionistas de uma empresa
#       de previdência. Escreva um programa que leia as idades de uma quantidade
#       não informada de clientes e mostre a distribuição em intervalos de
#       [0-25], [26-50], [51-75] e [76-100]. Encerre a entrada de dados com um número negativo.

idade = int(input('Digite sua idade: '))

intervalo_0_25 = 0
intervalo_26_50 = 0
intervalo_51_75 = 0
intervalo_76_100 = 0


while idade >= 0:
  if idade >= 0 and idade <= 25:
    intervalo_0_25 += 1
  elif idade >= 26 and idade <= 50:
    intervalo_26_50 += 1
  elif idade >= 51 and idade <= 75:
    intervalo_51_75 += 1
  elif idade >= 76 and idade <= 100:
    intervalo_76_100 += 1

  idade = int(input('Digite sua idade ou número negativo para sair '))

print('0 a 25: ', intervalo_0_25)
print('26 a 50: ', intervalo_26_50)
print('51 a 75: ', intervalo_51_75)
print('76 a 100: ', intervalo_76_100)

In [ ]:
# 9

# Inicializamos as variáveis contadoras
votos_candidato1 = 0
votos_candidato2 = 0
votos_candidato3 = 0
votos_candidato4 = 0
votos_nulos = 0
votos_branco = 0

# Início do laço para ler os votos
for i in range(0,20):
    voto = int(input('Informe seu voto: '))
    if voto == 1:
        votos_candidato1 += 1
    elif voto == 2:
        votos_candidato2 += 1
    elif voto == 3:
        votos_candidato3 += 1
    elif voto == 4:
        votos_candidato4 += 1
    elif voto == 5:
        votos_nulos += 1
    elif voto == 6:
        votos_branco += 1
    else:
        print("Voto inválido.")

print(f'Votos candidato 1: {votos_candidato1}')
print(f'Votos candidato 2: {votos_candidato2}')
print(f'Votos candidato 3: {votos_candidato3}')
print(f'Votos candidato 4: {votos_candidato4}')
print(f'Votos nulos: {votos_nulos}')
print(f'Votos em branco: {votos_branco}')
print(f'Percentual de votos nulos: {(votos_nulos / 20 * 100)}')
print(f'Percentual de votos em branco: {(votos_branco / 20 * 100)}')

In [ ]:
lista = ['Fabricio Daniel',9.5,9.0,8.0,True]
lista

lista[0]

In [ ]:
[0]	[1]	[2]	[3]	[4]
Fabricio Daniel	9.5	9.0	8.0	True

In [ ]:
[-5]	[-4]	[-3]	[-2]	[-1]
Fabricio Daniel	9.5	9.0	8.0	True

In [ ]:
lista[1]

In [ ]:
for elementos in lista:
 print(elementos)

In [ ]:
lista[3] = 10
lista

In [ ]:
media = (lista[1] + lista[2] + lista[3])/3
media

In [ ]:
lista.extend([10.0,8.0,9.0])
lista

In [ ]:
lista.append([10.0,8.0,9.0])
lista

In [ ]:
lista.remove([10.0,8.0,9.0])
lista

# Manipulação de listas

In [ ]:
len(lista)

In [ ]:
lista[1:4]

In [ ]:
lista.append(media)
lista

# Dicionário

In [ ]:
dicionario = {'chave_01': 1,
            'chave_02': 2}
dicionario

In [ ]:
cadastro = { 'matricula': 48587455 ,
             'dia_cadastro': 25,
             'mes_cadastro': 10,
             'turma': '2E'}

cadastro

In [ ]:
cadastro['turma']

In [ ]:
cadastro['turma'] = '2G'
cadastro

In [ ]:
cadastro['modalidade'] = 'EAD'
cadastro

In [ ]:
# Remove um item do dicionário

cadastro.pop('turma')

In [ ]:
# Retorna chave e valor da lista dicionário
cadastro.items()

In [ ]:
# Retorna uma lista das chaves do dicionário
cadastro.keys()

In [ ]:
# Retorna apenas os valores do dicionário

cadastro.values()

In [ ]:
# Leitura dos valores com laço 'for'

for chaves in cadastro.keys():
  print(cadastro[chaves])

In [ ]:
# Trabalhar com 2 elementos ao mesmo tempo

for chave, valores in cadastro.items():
 print(chave, valores)

# Desafio: hora da prática

In [ ]:
# 1) Faça um programa que tenha a seguinte lista contendo os valores de gastos de
# uma empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08].
# Com esses valores, faça um programa que calcule a média de gastos. Dica: use as funções built-in sum() e len().

gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

media = sum(gastos) / len(gastos)
print(f'{media:.2f}')

In [ ]:
# 2) Com os mesmos dados da questão anterior, defina quantas compras foram realizadas
# acima de 3000 reais e calcule a porcentagem quanto ao total de compras.


gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

gastos_acima = []

for elementos in gastos:
  if elementos > 3000.00:
    gastos_acima.append(elementos)

quantidade = len(gastos_acima)
total = len(gastos)

porcentagem = (quantidade / total) * 100
print(f'Quantidade de compras acima de R$3000: {quantidade}')
print(f'Porcentagem em relação ao total: {porcentagem:.2f} %')

In [ ]:
# 3) Faça um código que colete em uma lista 5 números inteiros quaisquer e imprima a lista. Exemplo: [1,4,7,2,4].

lista = []

for i in range(5):
  lista.append(input('Digite 5 parâmetro'))
  print(lista)

In [ ]:
# 4) Colete novamente 5 inteiros e imprima a lista em ordem inversa à enviada.


lista = []

for i in range(5):
  lista.append(input('Digite 5 parâmetro'))

print(f'{lista[::-1]}')

In [ ]:
# 5) Faça um programa que, ao inserir um número qualquer, cria uma lista contendo todos os números primos entre 1 e o número digitado.

numero = int(input('Digite um número inteiro'))

lista = []



for primos in range(2, numero + 1):
  divisores = 0

  for i in range(1, primos + 1):
      if primos % i == 0:
        divisores += 1

  if divisores == 2:
    lista.append(primos)

print(lista)

In [ ]:
# 6) Escreva um programa que peça uma data informando o dia, mês e ano e determine se ela é válida para uma análise.

from datetime import datetime

def verificar_data_valida(dia, mes, ano):
    try:
        data = datetime(ano, mes, dia)
        return True
    except ValueError:
        return False

dia = int(input('informe o dia: '))
mes = int(input('informe o mês: '))
ano = int(input('informe o ano: '))

if verificar_data_valida(dia, mes, ano):
    print("A data é válida!")
else:
    print("A data é inválida!")

In [ ]:
# 7) Para um estudo envolvendo o nível de multiplicação de bactérias em uma colônia,
# foi coletado o número de bactérias por dia (em milhares) e pode ser observado a seguir:
# [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]. Tendo esses valores, faça um
# código que gere uma lista contendo o percentual de crescimento de bactérias por dia,
# comparando o número de bactérias em cada dia com o número de bactérias do dia anterior.
# Dica: para calcular o percentual de crescimento usamos a
# seguinte equação: 100 * (amostra_atual - amostra_passada) / (amostra_passada).

Colonia_de_bacterias = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]

percentual_crecimento = []

for i in range(1, len(Colonia_de_bacterias)):
    anterior = Colonia_de_bacterias[i - 1]
    atual = Colonia_de_bacterias[i]
    percentual = 100*(atual - anterior) / (anterior)
    percentual_crecimento.append(percentual)

total = sum(percentual_crecimento)

print(f'Crescimento total é :{total:.2f} %')
for i, percentual in enumerate(percentual_crecimento, start=2):
 print(f'Dia {i}: {percentual:.2f}%')

In [ ]:
# 8) Para uma seleção de produtos alimentícios, precisamos separar o conjunto de
#  IDs dados por números inteiros sabendo que os produtos com ID par são doces e
# os com ID ímpar são amargos. Monte um código que colete 10 IDs. Depois, calcule
#e mostre a quantidade de produtos doces e amargos.

produto = []


doce = 0
amargo = 0

for elementos in range(10):
  id = input('Digite 10 IDs: ')

for i in produto:
 if i % 2 == 0:
  doce += 1
 else:
  amargo += 1


print(f'Quantidade de produtos doces: {doce}')
print(f'Quantidade de produtos amargos: {amargo}')

In [ ]:
# 9) Desenvolva um programa que informa a nota de um(a) aluno(a) de acordo com suas
# respostas. Ele deve pedir a resposta desse(a) aluno(a) para cada questão e é preciso
# verificar se a resposta foi igual ao gabarito. Cada questão vale um ponto e existem as alternativas A, B, C ou D.

respostas = []
nota = 0

gabarito = ['D','A','C','B','A','D','C','C','A','B']


for i in range(0, 10):
   respostas.append(input(f'Insira a resposta da questão {i + 1}: ').upper())

for i in range(0, 10):
  if gabarito[i] == respostas[i]:
   nota += 1


print(nota)

22# Manipulação de listas

In [ ]:
import matplotlib

In [ ]:
 !pip install numpy==1.23.5

In [ ]:
matplotlib.__version__

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.show()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
  estudantes = ["João", "Maria", "José"]
notas = [8.5, 9, 6.5]

In [ ]:
plt.bar(x = estudantes, height = notas)

In [ ]:
estudantes_2 = ["João", "Maria", "José", "Ana"]

In [ ]:
from random import choice

In [ ]:
help(choice)

In [ ]:
estudantes = choice(estudantes_2)
estudantes

# Desafio: hora da prática

In [ ]:
# 1. Escreva um código para instalar a versão 3.7.1 da biblioteca matplotlib.

!pip instal matplotlib==3.7.2

# 2. Escreva um código para importar a biblioteca numpy com o alias np.

import numpy as np

In [ ]:
# 3. Crie um programa que leia a seguinte lista de números e escolha um número desta aleatoriamente.

numeros = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

numeros_1 = choice(numeros)
numeros_1

In [ ]:
# 4. Crie um programa que sorteia, aleatoriamente, um número inteiro positivo menor que 100.

from random import randrange

print(randrange(100))

In [ ]:
# 5. Crie um programa que solicite à pessoa usuária digitar dois números inteiros e calcular a potência do 1º número elevado ao 2º.

import math

base = int(input('Digite o primeiro numero (base): ' ))
expoente = int(input('Digite o segundo número (expoente): '))

resultado = math.pow(base, expoente)

print(f'{base} elevado ao expoente {expoente} é igial a: {resultado}')

In [ ]:
# 6. Um programa deve ser escrito para sortear uma pessoa seguidora de uma rede
# social para ganhar um prêmio. A lista de participantes é numerada e devemos escolher
# aleatoriamente um número de acordo com a quantidade de participantes. Peça à pessoa usuária
# para fornecer o número de participantes do sorteio e devolva para ela o número sorteado.

from random import choice, randrange

num_aleatorio = int(input('Digie a quantidade de participantes do sorteio: '))

N = choice(range(1, num_aleatorio + 1))


print(f'Número sorteado é: {N}')

In [ ]:
# 7. Você recebeu uma demanda para gerar números de token para acessar o aplicativo de uma empresa.
# O token precisa ser par e variar de 1000 até 9998. Escreva um código que solicita à pessoa usuária
# o seu nome e exibe uma mensagem junto a esse token gerado aleatoriamente.

from random import randrange

user = input('Digite seu nome de usuário para validar seu acesso: ')

token = randrange(1000, 10000, 2)

print(f'Olá, {user}, o seu token de acesso é {tokken}! Seja bem-vindo(a)!')

In [ ]:
# 8. Para diversificar e atrair novos(as) clientes, uma lanchonete criou um item
# misterioso em seu cardápio chamado "salada de frutas surpresa". Neste item, são
# escolhidas aleatoriamente 3 frutas de uma lista de 12 para compor a salada de
# frutas da pessoa cliente. Crie o código que faça essa seleção aleatória de acordo com a lista abaixo:

frutas = ["maçã", "banana", "uva", "pêra",
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]

salada = choices(frutas, k=3)

print(f'Salada de frutas surpesas é: {salada[0]}, {salada[1]}, {salada[2]}')

In [ ]:
# Você recebeu um desafio de calcular a raiz quadrada de uma lista de números,
# identificando quais resultaram em um número inteiro. A lista é a seguinte:

from math import sqrt

numeros = [2, 8, 15, 23, 91, 112, 256]

raiz = []

for numero in numeros:
  raiz.append(sqrt(numero))

for i in range(len(raiz)):

  if raiz[i] // 1 == raiz[i]:

    print(f"O número {numeros[i]} possui raiz quadrada inteira igual a {int(raiz[i])}")

In [ ]:
# 10. Faça um programa para uma loja que vende grama para jardins. Essa loja trabalha
# com jardins circulares e o preço do metro quadrado da grama é de R$ 25,00. Peça à pessoa
# usuária o raio da área circular e devolva o valor em reais do quanto precisará pagar.

from math import pi, pow

raio = float(input('Qual área circular em metros desejada'))

area = pi*pow(raio,2)
valor = area * 25.00

print(f"Você precisará pagar R$ {round(valor,2)} por uma área de {round(area,2)} metros de grama")

# Built-in function

In [ ]:
notas = {'1º Trimeste': 8.5, '2º Trimestre': 9.5, '3º Trimestre': 7}
notas

In [ ]:
soma = 0

for nota in notas.values():
 soma += nota

soma

In [ ]:
# Usando a função embutida sum()

somatoria = sum(notas.values())
somatoria

In [ ]:
# Usando a função embutida len()
qtd_notas = len(notas)
qtd_notas

In [ ]:
# Calculo de media

media = somatoria / qtd_notas
media = round(media,1)
media

# Criando funções

def <nome>():
    <instruções>

In [ ]:
def media():
  calculo = (10 + 9 + 8)  / 3
  print(calculo)

In [ ]:
media()

# Funções com parâmetros

 def <nome>(<param_1>,
 <param_2>, ..., >param_n>):
   <instruções>

In [ ]:
def media(nota_1, nota_2, nota_3):
  calculo = (nota_1 + nota_2 + nota_3) / 3
  print(calculo)

In [ ]:
media( 3, 6, 9)

In [ ]:
nota1 = 8
nota2 = 7
nota3 = 6

media(nota1, nota2, nota3)

In [ ]:
# Notas do(a) estudante
notas = [8.5, 9.0, 6.0, 10.0]

In [ ]:
def media(lista):
  calcular = sum(lista) / len(lista)
  print(calcular)

In [ ]:
media(notas)

In [ ]:
# Notas do(a) estudante
notas = [8.5, 9.0, 6.0, 10.0]

def media(lista):
  calculo = sum(lista) / len(lista)
  return calculo

In [ ]:
resultado = media(notas)

resultado

In [ ]:
  # Notas do(a) estudante
notas = [6.0, 7.0, 9.0, 5.0]

In [ ]:
def boletim(lista):
    media = sum(lista) / len(lista)

    if media >= 6:
        situacao = "Aprovado(a)"
    else:
        situacao = "Reprovado(a)"

    return (media, situacao)

In [ ]:
boletim(notas)

In [ ]:
media, situacao = boletim(notas)

In [ ]:
media

In [ ]:
situacao

In [ ]:
print(f'O(a) estudante atingiu uma média de {media} e foi {situacao}.')

# Funções lambda

In [ ]:
# Notas do(a) estudante
notas = [6.0, 7.0, 9.0, 5.5, 8.0]
qualitativo = 0.5

In [ ]:
notas_atualizadas = map(lambda x: x + qualitativo, notas)
notas_atualizadas

In [ ]:
notas_atualizadas = list(notas_atualizadas)
notas_atualizadas

# Desafio: hora da prática

In [ ]:
# 1. Escreva um código que lê a lista abaixo e faça:

lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

soma = sum(lista)
tamnaho = len(lista)
maior = max(lista)
menor = min(lista)

print(f'A lista possui {tamnaho} números em que o maior é {maior} e o menor númeero é {menor}. A soma dos valores presentes nela é igual a {soma} ')

In [ ]:
# 2. Escreva uma função que gere a tabuada de um número inteiro de 1 a 10, de
#acordo com a escolha da pessoa usuária. Como exemplo, para o número 7, a tabuada deve ser mostrada no seguinte formato:

numero = int(input('Digite o número da tabuado da sua preferência 0 10 :'))

def tabuada():
 for i in range(1,10):
  multi = numero * i
  print(f'{numero} x {i} = {multi}')

tabuada()

In [ ]:
# 3. Crie a função que leia a lista abaixo e retorne uma nova lista com os múltiplos de 3:

lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99, 100]



def multiplos():
  lista_2 = []
  for i in lista:
    if i % 3 == 0:
     lista_2.append(i)
  return lista_2



print(multiplos())

In [ ]:
# 4  Crie uma lista dos quadrados dos números da seguinte lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].
# Lembre-se de utilizar as funções lambda e map() para calcular o quadrado de cada elemento da lista.

lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nova_lista = []

def quadrado():
  calculo = list(map(lambda x: x**2, lista))
  nova_lista.append(calculo)
  return nova_lista

print(quadrado())

In [ ]:
# 5 - Para calcular a pontuação de um(a) skatista, você precisa eliminar a maior e
# a menor pontuação dentre as 5 notas e tirar a média das 3 notas que sobraram.
# Retorne a média para apresentar o texto:

def notas():
  notas_lista = []

  for i in range(1,6):
     nota = float(input(f'Nota {i} do(a) skatista: '))
     notas_lista.append(nota)

  maior = max(notas_lista)
  notas_lista = [x for x in notas_lista if x != maior]

  menor = min(notas_lista)
  notas_lista = [x for x in notas_lista if x != menor]



  return notas_lista


notas()

In [ ]:
# 6 - 6. Para atender a uma demanda de uma instituição de ensino para a análise
# do desempenho de seus(suas) estudantes, você precisa criar uma função que receba
# uma lista de 4 notas e retorne:

# maior nota
# menor nota
# média
# situação (Aprovado(a) ou Reprovado(a))

def notas():
  media = []
  for i in range(1,5):
    nota = float(input(f'Digite uma a nota {i} : '))
    media.append(nota)

  maior = max(media)
  menor = min(media)
  media = sum(media) / len(media)

  if media >= 7:
    situacao = ('Aprovado')
  else:
    situacao = ('Reprovado')

  print(f'(a) estudante obteve uma média de {media}, com a sua maior nota de {maior} pontos e a menor nota de {menor} pontos e foi {situacao}')


notas()

In [ ]:
#  7. Você recebeu uma demanda para tratar 2 listas com os nomes e sobrenomes de
#  cada estudante concatenando-as para apresentar seus nomes completos na forma
#  Nome Sobrenome. As listas são:

nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]


def nome_sobrenome():

  nome_completo = list(map(lambda nomes, sobrenomes: f'{nomes.title()} {sobrenomes.title()}', nomes, sobrenomes))

  for i in nome_completo:
    print(f'Nome completo {i} ')

nome_sobrenome()

In [ ]:
# 8 - Escreva uma função chamada calcula_pontos que recebe como parâmetros duas
#     listas de números inteiros, representando os gols marcados e sofridos pelo
#     time em cada partida do campeonato. A função deve retornar a pontuação do
#     time e o aproveitamento em percentual, levando em consideração que a vitória
#     ale 3 pontos, o empate vale 1 ponto e a derrota 0 pontos.

gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]

def calcula_pontos():

  pontos = 0

  for a, b in zip(gols_marcados, gols_sofridos):
    if a > b:
      pontos += 3
    elif a == b:
      pontos += 1

  aprove = 100 * pontos / (len(gols_marcados) * 3)
  return(pontos, aprove)

pontos, aprove = calcula_pontos()
print(f"A pontuação do time foi de {pontos} e seu aproveitamento foi de {round(aprove):.1f}%")

In [ ]:

cidades = input('Informe seu destinos Salvador, Fortaleza, Natal e Aracaju: ')
dias = int(input('Digite a quantidade de diarias, valor da diaria é 150: '))
km_litro = 14
gasolina = 5
dispesas_dias = [200, 400, 250, 300]
distancias = [850, 800, 300, 550]

def gasto_hotel(dias):
  return dias * 150

def gasto_gasolina(cidade):
  if cidades == 'Salvador':
   return  (2 * distancias[0] * km_litro) / gasolina
  elif cidades == 'Fortaleza':
   return  (2 * distancias[1] * km_litro) / gasolina
  elif cidades == 'Natal':
   return  (2 * distancias[2] * km_litro) / gasolina
  elif cidades == 'Aracaju':
   return  (2 * distancias[3] * km_litro) / gasolina

def gasto_passeio(cidade, dias):
  if cidades == 'Salvador':
    return dispesas_dias[0] * dias
  elif cidades == 'Fortaleza':
    return dispesas_dias[1] * dias
  elif cidades == 'Natal':
    return dispesas_dias[2] * dias
  elif cidades == 'aracaju':
    return dispesas_dias[3] * dias


gastos = gasto_hotel(dias) + gasto_gasolina(cidades) + gasto_passeio(cidades, dias)

print(f'Com base nos gastos definidos, uma viagem de {dias} dias para {cidades} saindo de Recife custaria {gastos} reais')

In [ ]:
from re import X

frase = input('Digite uma frase qualquer para analise NLP :')

frase = frase.replace(',','').replace('.','').replace('!','').replace('?','').split()

tamanho = list(filter(lambda x: len(x) >= 5, frase))

print(tamanho)


# Lista de listas

In [ ]:
notas_turma = ['João', 8.0, 9.0, 10.0, 'Maria', 9.0, 7.0, 6.0, 'José', 3.4, 7.0, 7.0, 'Cláudia', 5.5, 6.6, 8.0, 'Ana', 6.0, 10.0, 9.5]

In [ ]:
nomes = []
notas_juntas = []

for i in range(len(notas_turma)):
  if i % 4 ==0:
      nomes.append(notas_turma[i])
  else:
      notas_juntas.append(notas_turma[i])

In [ ]:
notas_juntas

In [ ]:
nomes

In [ ]:
notas = []

for i in range(0, len(notas_juntas), 3):
  notas.append([notas_juntas[i], notas_juntas[i+1], notas_juntas[i+2]])
notas

In [ ]:
notas[0]

In [ ]:
notas[0][2]

In [ ]:
estudantes = ["João", "Maria", "José", "Cláudia", "Ana"]
estudantes

In [ ]:
from random import randint

def gera_codigo():
  return str(randint(0,999))

In [ ]:
codigo_estudantes = []

for i in range(len(estudantes)):
  codigo_estudantes.append((estudantes[i], estudantes[i][0] + gera_codigo()))

codigo_estudantes

In [ ]:
notas = [[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]]

In [ ]:
def media(lista: list=[0]) -> float:
  ''' Função para calcular a média de notas passadas por uma lista

  lista: list, default [0]
    Lista com as notas para calcular a média
  return = calculo: float
    Média calculada
  '''

  calculo = sum(lista) / len(lista)

  return calculo

In [ ]:
medias = [round(media(nota),1) for nota in notas]
medias

In [ ]:
nomes = [('João', 'J720'), ('Maria', 'M205'), ('José', 'J371'), ('Cláudia', 'C546'), ('Ana', 'A347')]
medias = [9.0, 7.3, 5.8, 6.7, 8.5]

In [ ]:
lista_nomes = [nome[0] for nome in nomes]
lista_nomes

In [ ]:
estudantes = list(zip(nomes, medias))
estudantes

In [ ]:
candidatos = [estudante[0] for estudante in estudantes if estudante[1] >= 8]
candidatos

In [ ]:
notas = {'João': [8.0, 9.0, 10.0], 'Maria': [9.0, 7.0, 6.0], 'José': [3.4, 7.0, 8.0],'Cláudia': [5.5, 6.6, 8.0],
         'Ana': [6.0, 10.0, 9.5], 'Joaquim': [5.5, 7.5, 9.0], 'Júlia': [6.0, 8.0, 7.0], 'Pedro': [3.0, 4.0, 6.0]}

In [ ]:
nome = input('Digite um nome do(a) estudante :')
resultado = notas[nome]
resultado

# Desafio: hora da prática

In [ ]:
# 1 - Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista

lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

for sublista in lista_de_listas:
  print(sublista)

In [ ]:
# 2 - Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:

lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

lista_tuplas = [tupla[2] for tupla in lista_de_tuplas]
lista_tuplas

In [ ]:
# 3. A partir da lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crie um
# código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento
# como a posição do nome na lista original e o segundo elemento sendo o próprio nome.


lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']


lista_de_tuplas = []

for i in range(len(lista)):
  lista_de_tuplas.append((i, lista[i]))

print(lista_de_tuplas)

In [ ]:
#  4. Crie uma lista usando o list comprehension que armazena somente o valor numérico
#  e cada tupla caso o primeiro elemento seja 'Apartamento', a partir da seguinte lista de tuplas:

aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

lista = [tupla[1] for tupla in aluguel if tupla[0] == 'Apartamento']

print(lista)

In [ ]:
#  6. Uma loja possui um banco de dados com a informação de venda de cada representante
#  e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000.
#  A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda
#  para que você ajude a realizar a filtragem dos dados a partir de um código:

vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859),
          ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178),
          ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680),
          ('2022', 5616)]

lista = [valores[1] for valores in vendas if valores[0] == '2022' and valores[1] >= 6000]

print(lista)

In [ ]:
#  8. Um e-commerce possui as informações de id de venda, quantidade vendida e
#  preço do produto divididos nas seguintes listas:

#  Crie uma lista de tuplas em que cada tupla tenha id, quantidade, preço e valor
#  total, na qual a primeira tupla é o cabeçalho da tabela.

id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

#  8. Um e-commerce possui as informações de id de venda, quantidade vendida e
#  preço do produto divididos nas seguintes listas:

#  Crie uma lista de tuplas em que cada tupla tenha id, quantidade, preço e valor
#  total, na qual a primeira tupla é o cabeçalho da tabela.

id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]



lista = [(id[i], quantidade[i], preco[i], quantidade[i] * preco[i]) for i in range(len(quantidade))]
lista = lista

print(lista)

In [ ]:
#  9 - A partir da coluna com a informação dos Estados, crie um dicionário usando
#  dict comprehension com a chave sendo o nome de um Estado e o valor sendo a
#  contagem de vezes em que o Estado aparece na lista.


estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

contagem_estados = {estado: estados.count(estado) for estado in estados}

print(contagem_estados)

In [ ]:
#   10 A partir da lista de tuplas, crie um dicionário em que as chaves são os nomes
#   dos Estados únicos e os valores são as listas com o número de colaboradores(as)
#   referentes ao Estado. Crie também um dicionário em que as chaves são os nomes
#   dos Estados e os valores são a soma de colaboradores(as) por Estado.


funcionarios = [('SP', 16), ('ES', 8), ('MG', 9),  ('MG',  6), ('SP', 10), ('MG',  4),
                ('ES', 9),  ('ES', 7), ('ES', 12), ('SP',  7), ('SP', 11), ('MG',  8),
                ('ES', 8),  ('SP', 9), ('RJ', 13), ('MG',  5), ('RJ',  9), ('SP', 12),
                ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG',  12)]

estados_unicos = list(set([tupla[0] for tupla in funcionarios]))

lista_de_listas = []
for estado in estados_unicos:
    lista = [tupla[1] for tupla in funcionarios if tupla[0] == estado]
    lista_de_listas.append(lista)
print(lista_de_listas)

agrupamento_por_estado = {estados_unicos[i]: lista_de_listas[i] for i in range(len(estados_unicos))}
print(agrupamento_por_estado)

soma_por_estado = {estados_unicos[i]: sum(lista_de_listas[i]) for i in range(len(estados_unicos))}
print(soma_por_estado)

Tratando exceções

In [ ]:
from logging import exception
try:
  nome = input('Digite um nome do(a) estudante')
  resultado = notas[nome]
except Exception as e:
  print(type(e), f'erro {e}')

In [ ]:
from logging import exception
try:
  nome = input('Digite um nome do(a) estudante')
  resultado = notas[nome]
except KeyError:
  print('Estudate não matriculado(a) na turma')
else:
  print(resultado)
finally:
  print('Consulta foi encerrada!')

In [ ]:
def media(lista: list=[0]) -> float:
  """
  Calcula a média dos valores em uma lista.

  Args:
    lista: Uma lista de números.

  Returns:
    A média dos valores na lista.
  """
  calculo = sum(lista) / len(lista)

  if len(lista) > 4:
      raise ValueError("A lista não pode possuir mais de 4 notas.")

  return calculo

In [ ]:
notas = [6, 7, 8, 8, 9]
resultado = media(notas)
resultado

In [ ]:
try:
  notas = [6, 7, 8, 8, 9, '8']
  resultado = media(notas)
except TypeError:
  print('Não foi possível calcular a média do(a) estudante. Só são aceitos valores numéricos!')
except ValueError as e:
  print(e)
else:
  print(resultado)
finally:
  print('Consulta finalizada')

In [ ]:
try:
  notas = [6, 7, 8, 8, 9]
  resultado = media(notas)
except TypeError:
  print('Não foi possível calcular a média do(a) estudante. Só são aceitos valores numéricos!')
except ValueError as e:
  print(e)
else:
  print(resultado)
finally:
  print('Consulta finalizada')

In [ ]:
try:
  notas = [6, 7, 8, 8]
  resultado = media(notas)
except TypeError:
  print('Não foi possível calcular a média do(a) estudante. Só são aceitos valores numéricos!')
except ValueError as e:
  print(e)
else:
  print(resultado)
finally:
  print('Consulta finalizada')

# Desafio: hora da prática

In [ ]:
# 1. Faça um programa que solicite à pessoa usuária digitar dois números float e
# calcular a divisão entre esses números. O código deve conter um tratamento de
# erro, indicando o tipo de erro que foi gerado caso a divisão não seja possível de realizar.

try:
   num1 = float(input('Digite primeiro número :'))
   num2 = float(input('Digite segundo número :'))
   divisão = num1 / num2
except Exception as e:
   print(type(e), (f'erro: {e}'))

In [ ]:
#  2. Faça um programa que solicite à pessoa usuária digitar um texto que será
# uma chave a ser pesquisada no seguinte dicionário: idades
# = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17},
# armazenando o resultado do valor em uma variável. O código deve conter um tratamento
# de erro KeyError, imprimindo a informação 'Nome não encontrado', caso ocorra o erro;
# e imprimir o valor caso não ocorra nenhum.

try:
  chave = input()
  idades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}
  valor = idades[chave]
except KeyError:
  print("Não encontrado")
else:
  print(valor)

In [ ]:
#  3. Crie uma função que recebe uma lista como parâmetro e converta todos os
#  valores da lista para float. A função deve conter um tratamento de erro indicando
#  o tipo de erro gerado e retornar a lista caso não tenha ocorrido nenhum erro.
#  Por fim, deve ter a cláusula finally para imprimir o texto: 'Fim da execução da função'.

lista = [1,'a',2]

def converte_lista(lista):
    try:
        nova_lista = [float(elemento) for elemento in lista]
    except Exception as e:
        print(type(e), f'Erro: {e}')
    else:
        return nova_lista
    finally:
        print('Fim da execução da função')

resultado = converte_lista(lista)
print("Resultado:", resultado)

In [ ]:
#  4. Crie uma função que recebe duas listas como parâmetros e agrupe os elementos
#  um a um das listas, formando uma lista de tuplas de 3 elementos, no qual o
#  primeiro e segundo elemento da tupla são os valores na posição i das listas
#  e o terceiro elemento é a soma dos valores na posição i das listas.

lista1 = [4,6,7,9,'A']
lista2 = [-4,'E',8,7,9]

def soma_listas(lista1, lista2):
    try:
        if len(lista1) == len(lista2):
            dados = [(lista1[i], lista2[i], lista1[i]+lista2[i]) for i in range(len(lista1))]
        else:
            raise IndexError('A quantidade de elementos em cada lista é diferente.')
    except Exception as e:
        print(type(e), f'Erro: {e}')
    else:
        return dados

resultado = soma_listas(lista1, lista2)
print("Resultado:", resultado)

# Nova seção